extends ../layouts/main

block lang
  - const LANG = "es";

block missHead
  meta(name='description' content='Términos de servicio de Science Cookies')
  link(rel='canonical' href=HOST+'/tos')
  title Science Cookies - Términos de servicio

  - const site="tos";

block content
  .row.justify-content-center
    h2 Términos de servicio ("Términos")
  br
  br
  p Última actualización: 3 de agosto del 2020
  p
    | Lea estos Términos de servicio detenidamente antes de utilizar el Sitio 
    a.text-warning(href='https://sciencecookies.net') https://sciencecookies.net
    |  operado por Science Cookies ("nosotros", "nosotros" o "nuestro").
  p
    | Su acceso y uso del Servicio está condicionado a su aceptación y cumplimiento de estos términos. Estos Términos se aplican a todos los visitantes, usuarios y otras personas que acceden o utilizan el Servicio.
  p
    | Al acceder o utilizar el Servicio, usted acepta estar sujeto a estos Términos. Si no esta de acuerdo con cualquier parte de los términos, entonces no puede acceder al Servicio.
  br
  h3 Interpretación
  p
    | Las palabras cuya letra inicial está en mayúscula tienen significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.
  h3 Definiciones
  p A los fines de estos Términos de servicio:
  ul
    li
      strong Servicio 
      | se refiere al Sitio.
    li
      strong Sitio 
      | se refiere a Science Cookies, accesible desde 
      a.text-warning(href='htpps://sciencecookies.net') https://sciencecookies.net.
    li
      strong
        | Términos (referido al mismo como "Términos de Servicio", "los Términos" o " estos Términos")
      |  se refiere al presente documento que establece los términos de servicio de nuestro Sitio.
  br
  h3 Ley aplicable
  p
    | Las leyes de los Estados Unidos Mexicanos, excluyendo sus conflictos de leyes, regirán estos Términos y su uso del Servicio. Su uso del Servicio también puede estar sujeto a otras leyes locales, estatales, nacionales o internacionales.
  br
  h3 Términos de cuenta
  ul
    li Debe tener 13 años o más para usar este Servicio.
    li
      | Debes ser un humano. No se permiten cuentas registradas por "bots" u otros métodos automatizados.
    li
      | Debe proporcionar su nombre, una dirección de correo electrónico válida y cualquier otra información solicitada para completar el proceso de registro.
    li
      | Usted es responsable de mantener la seguridad de su cuenta y contraseña. Science Cookies no puede y no será responsable de cualquier pérdida o daño por el incumplimiento de esta obligación de seguridad.
    li Usted es responsable de todas las actividades que ocurran en su cuenta.
    li
      | No puede usar el Servicio para ningún propósito ilegal o no autorizado. No debe, en el uso del Servicio, violar ninguna ley en su jurisdicción (incluidas, entre otras, las leyes de derechos de autor o marcas registradas).
  h3 Terminación
  p
    | Podemos rescindir o suspender el acceso a nuestro Servicio de inmediato, sin previo aviso ni responsabilidad, por cualquier motivo, incluyendo, pero no limitado a, el incumplimiento de los Términos.
  p
    | Todas las disposiciones de los Términos que por su naturaleza deberían sobrevivir a la terminación sobrevivirán terminación, incluidas, entre otras, disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.
  br
  h3 Contenido
  p
    | Nuestro servicio le permite publicar, vincular, almacenar, compartir y de otra manera poner a disposición cierta información, texto, gráficos, videos u otro material ("Contenido"). Al aceptar estos Términos, está de acuerdo que el Contenido que publiques en el Servicio no continene material con derechos de autor de terceros ni material sujeto a derechos de propiedad de terceros, a menos que se tenga una licencia formal del propietario para hacerlo.
  br
  h3 Eliminando tu contenido
  p
    | Si creemos razonablemente que alguno de su material publicado (1) infringe estos Términos, (2) viola la ley aplicable o (3) podría dañar a nuestros usuarios, terceros o a nosotros, entonces nos reservamos el derecho (pero no la obligación) de eliminar parte o la totalidad de ese contenido.
  br
  h3 Comentarios y sugerencias
  p
    | Nuestro Servicio le permite hacernos llegar comentarios y sugerencias. Nos recervamos el derecho, a nuestro exclusivo criterio, de aceptar o rechazar e implementar o no dichos comentarios y / o sugerencias.
  br
  h3 Servicios de terceros
  p
    | Usted comprende que Science Cookies utiliza proveedores de terceros y socios de 
    i hosting
    |  para proporcionar el 
    i hardware
    | , el 
    i software
    | , las redes, el almacenamiento y la tecnología relacionada necesarios para ejecutar el Servicio.
  br
  h3 Enlaces a otros sitios web
  p
    | Nuestro servicio puede contener enlaces a sitios web de terceros o servicios que no son nuestra propiedad o están controlados por Science Cookies. Science Cookies no tiene control ni asume responsabilidad por el contenido, políticas de privacidad o prácticas de sitios web o servicios de terceros. Usted además reconoce y acepta que Science Cookies no será responsable, directa o indirectamente, de cualquier daño o pérdida causada o presuntamente causada por o en relación con el uso o dependencia de cualquier dicho contenido, bienes o servicios disponibles en o a través de dichos sitios web o servicios.
  br
  h3 Cambios a estos Términos de Servicio
  p
    | Nos reservamos el derecho, a nuestro exclusivo criterio, de modificar o reemplazar estos Términos en cualquier momento. En dado caso, intentaremos proporcionar un aviso de al menos 30 días antes de que cualquier término nuevo entre en vigor.
  p
    | Se le recomienda que revise estos Términos de Servicio periódicamente para detectar cualquier cambio. Los cambios a estos Términos de Servicio son efectivos cuando se publican en esta página.
  br
  h3 Aceptación de estos Términos
  p
    | Usted reconoce que ha leído estos Términos y acepta todos sus términos y condiciones. Al acceder y utilizar el Sitio y los Servicios, usted acepta estar sujeto a estos Términos. Si no acepta cumplir con los Términos de Servicio, no está autorizado para acceder o utilizar el Sitio y los Servicios.
  br
  h3 Contáctenos
  p
    | Si tiene alguna pregunta sobre estos Términos, puede contactarnos a través de 
    a.text-warning(href=HOST+'/contacto?sub=tos') http://sciencecookies.net/contacto.