//- Config
- const HOST = "https://sciencecookies--pr35-translations-mofurpft.web.app";
//-   https://sciencecookies.net
//-   http://localhost:5000
//-   https://sciencecookies--pr35-translations-mofurpft.web.app
- const FBVERSION = "8.3.2";
- const FBUIVERSION = "4.8.0";

- 
    const Buttons={
        "es": {
            "404": "Página no encontrada",
            "index": "Inicio",
            "cook": "Galletas",
            "cal": "Calendario Astronómico",
            "who": "¿Quienes somos?",
            "contact": "Contacto",
            "priv": "Aviso de Privacidad",
            "tos": "Términos de Servicio",
            "profile": "Mi Perfíl",
            "viewProf": "Ver Perfíl",
            "prefs": "Preferencias",
            "drafts": "Borradores",
            "draftsCal": "Calendarios",
            "edit": "Editar",
            "editCal": "Editar Calendarios",
            "logOut": "Cerrar Sesión",
            "logIn": "Acceder",
            "cancel": "Cancelar",
            "close": "Cerrar"
        },
        "en": {
            "404": "Page not found",
            "index": "Home",
            "cook": "Cookies",
            "cal": "Astronomic Calendar",
            "who": "Who are we?",
            "contact": "Contact",
            "priv": "Privacy Policy",
            "tos": "Terms of Service",
            "profile": "My Profile",
            "viewProf": "View Profile",
            "prefs": "Preferences",
            "drafts": "Drafts",
            "draftsCal": "Calendars",
            "edit": "Edit",
            "editCal": "Edit Calendars",
            "logOut": "Log Out",
            "logIn": "Log In",
            "cancel": "Cancel",
            "close": "Close"
        }
    }

- 
    const NavLinks={
        "es": {
            "404": "404/",
            "index": "/",
            "cook": "galletas/",
            "cal": "calendario-astronomico/",
            "who": "quienes-somos/",
            "contact": "contacto/",
            "priv": "docs/privacidad/",
            "tos": "docs/tos/",
            "profile": "perfil/",
            "viewProf": "ver-perfil/",
            "drafts": "drafts/",
            "draftsCal": "calendarios/",
            "edit": "editar/",
            "editCal": "editar-calendario/"
        },
        "en": {
            "404": "404/",
            "index": "/",
            "cook": "cookies/",
            "cal": "astronomic-calendar/",
            "who": "who-are-we/",
            "contact": "contact/",
            "priv": "docs/privacy/",
            "tos": "docs/tos/",
            "profile": "profile/",
            "viewProf": "view-profile/",
            "drafts": "drafts/",
            "draftsCal": "calendarios/",
            "edit": "edit/",
            "editCal": "edit-calendar/"
        }
    }