rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
      allow read, write: if request.auth!=null&&(request.auth.uid=='wjcSAh7VsCQp909D6x6LzyapDkl1'||request.auth.uid=='zle5Rq7VDtTkAp5Wm9WCWuEDGg33'||request.auth.uid=='r6jLy9UI6kS9ijF6thrXxDyTN242');
    }
    match /users/{userId} {
      allow read, update, delete: if request.auth!=null&&request.auth.uid==userId;
    }
    match /messages/{mess} {
      allow create: if true;
    }
    match /reports/{rep}{
    	allow create: if request.auth!=null;
    }
    match /newsletters/base{
      allow update: if request.auth!=null;
    }
    match /cookies{
      match /langs/{lang}/{cookie} {
        allow read: if true;
      }
      match /comments/{coookie}/{comment} {
      	allow read: if true;
        allow create, update: if request.auth!=null;
      }
    }
    match /calendars/langs/{lang}/{cal}{
      allow read: if true;
    }
    match /config/{setting}{
      allow read: if true;
    }
  }
}