body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.bg-rebecca {
  background-color: rebeccapurple;
}
.bg-sc {
  background-color: #791acd;
}
.bg-scinfo {
  background-color: #6c91c2;
}

strong {
  font-weight: 900;
  color: #f8f9fa;
}

.page-container {
  background-color: black;
  background-image: url("/img/fondo1.jpg");
  background-position: center top;
  background-attachment: fixed;
}

.sdbarCnt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}
.sidebar {
  background-color: #fff8e7;
}
@media (min-width: 768px) {
  .sidebar {
    order: 0;
    position: sticky;
    z-index: 1000;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .sdbarCnt {
    display: block !important;
  }
}

.btn-scckie {
  color: #f8f9fa;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}
.btn-link-scckie {
  font-weight: 400;
  color: rebeccapurple;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
h5 {
  font-size: 1.15rem;
  font-weight: 700;
}
h6 {
  font-size: 1.1rem;
  font-weight: 700;
}

.tbar {
  position: fixed;
  top: 20%;
  width: 3pc;
  z-index: 100020;
  background: none;
  animation-name: slideInRight;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
}
.tbar-right {
  right: 0;
  float: right;
  left: auto;
}

.cardBorder {
  border-width: 3px;
  border-radius: 10px;
}

.figcaption {
  font-size: 70%;
  font-weight: lighter;
}

footer {
  padding: 2rem 15px 2rem 0;
  .text-black {
    color: black;
  }
  img {
    margin: 0 0 1.5rem 40px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 1rem 0 2rem 0;
    div.row {
      margin-right: 15px;
    }
  }
}

div.follow-us {
  position: fixed;
  padding: 6px 24px 10px 24px;
  bottom: 0px !important;
  top: auto;
  right: 0;
  z-index: 10;
  font-size: x-large;
  i {
    margin: 0 5px;
  }
}

div.share {
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 1000;
  font-size: x-large;
  width: 54px;
  a {
    color: white !important;
    padding: 9px 15px;
    display: block;

    transition: all 0.5s;
    position: relative;
  }
  a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  a:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #ffffff80;
    transform: scale(1.2,1.2);
  }
  a:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
}
@media (min-width: 768px) {
  div.share {
    top: 20%;
    bottom: auto;
  }
}

ul.no-list {
  li {
    list-style: none;
  }
}
