@font-face {
    font-family: raleway-semi-bold;
    src: url("../vendor/fonts/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: raleway-semi-bold-italic;
    src: url("../vendor/fonts/Raleway-SemiBoldItalic.ttf");
}
@font-face {
    font-family: raleway-bold;
    src: url("../vendor/fonts/Raleway-Bold.ttf");
}