//- Register modal
#mdlRgstr.modal.fade(data-backdrop='static' data-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='mdlRgsL' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                if LANG=="es" 
                    h5#mdlRgsL.modal-title Inicia sesión o regístrate
                else if LANG=="en" 
                    h5#mdlRgsL.modal-title Log in or register
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                #firebaseui-auth-container
            .modal-footer
                if LANG=="es" 
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                else if LANG=="en" 
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel