extends layouts/main

block missHead
  meta(name='description' content='')
  link(rel='canonical' href=HOST+'')
  title Science Cookies - 

  - const site="";

block precontent

block content

block ownjs
  script(type="text/javascript" src='/js/.js')
