extends layouts/main

block missHead
  meta(name='description' content="Aquí puedes encontrar todas las galletas que tenemos.")
  link(rel='canonical' href=HOST+'/archivo/')
  title Archivo - Science Cookies

  - const site="arch";

block content
  h1.text-center Archivo de Science Cookies
  nav(aria-label='breadcrumb')
    ol.breadcrumb.mb-3
      li.breadcrumb-item.active(aria-current='page') Archivo
  .container-fluid.mb-2.rounded-lg.p-3(style='background-color:rebeccapurple;')
    p Aquí puedes encontrar todas las galletas que tenemos.
    each tris, year in years 
      h2 !{year}
      ul 
        each ltri, tri in tris
          li 
            a.btn-link-scckie.text-light(href="/archivo/" + year + "/" + tri)
              h6 !{ltri}

