- const HOST = "https://sciencecookies--pr30-pug-conversion-j8xqu70t.web.app/";
- //    https://sciencecookies.net
- //    http://localhost:5000
- //    https://sciencecookies--pr30-pug-conversion-j8xqu70t.web.app/
- const FBVERSION = "8.3.2";
- const FBUIVERSION = "4.8.0";