block missHead
  - const site="404";

block content
  if LANG=="es"
      h1.text-center 404
      br
      h1.text-center Página no encontrada
      p El sitio que buscas no está disponible
      p Es posible que sea porque el sitio está en construcción o porque escribiste mal el URL, por favor revisa el URL o intenta de nuevo más tarde.
      p.text-center
        a.btn.btn-dark.mx-2.my-1(href=HOST+'/') Volver al inicio
  else if LANG=="en"
      h1.text-center 404
      br
      h1.text-center Page not found
      p The site you are looking for is not available
      p The site might be under construction or the URL might be wrong, please check the URL or try again later.
      p.text-center
        a.btn.btn-dark.mx-2.my-1(href=HOST+'/') Back to home