.table-bordered thead,
.table-bordered tbody,
.table-bordered th,
.table-bordered td {
    border: 0.5rem solid #57238b !important;
}
.autoOverflow {
    overflow: hidden;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.autoOverflow:hover {
    overflow: auto;
}
.portImg {
    position: relative;
    border-radius: 0.25rem;
    width: 75%;
}
.dayHead {
    min-width: 7rem;
    width: 13%;
}
.eventCont {
    background-color: #c3e6cb;
    border-color: #8fd19e;
}
