@import "_colors.scss";

.tooltipn {
    position: relative;
    display: inline-block;
}

.tooltipn .tooltipTextn {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipn .tooltipTextn::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltipn:hover .tooltipTextn {
    visibility: visible;
    opacity: 1;
}

.range-value-L {
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
}
.range-value-L::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -10px;
    margin-bottom: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #007bff transparent transparent;
}

.adder-button > * {
    border-color: $black;
    button {
        background-color: transparent !important;
        border: none;
        padding: 12px;
        span {
            font-size: 6rem;
            line-height: 6rem;
        }
        &:hover {
            color: #000 !important;
        }
    }
}

.mdl-choose-media {
    .media-card {
        a {
            width: 100%;
            img {
                background-color: #000;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                img {
                    opacity: 0.5;
                }
            }
        }
    }
}
