@import "_types.scss";

body {
  scroll-behavior: smooth;
}

.bg-rebecca {
  background-color: $rebecca;
}
.bg-science {
  background-color: $science;
}
.bg-blue {
  background-color: $blue;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}

.page-container {
  background-color: black;
  background-image: url("../public/img/fondo1.webp");
  background-position: center top;
  background-attachment: fixed;
}

.tbar {
  position: fixed;
  top: 20%;
  width: 3pc;
  z-index: 100020;
  background: none;
  animation-name: slideInRight;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
  .btn-group-vertical{
    width: 100%;
    .btn{
      padding: 8px 0;
    }
  }
}
.tbar-right {
  right: 0;
  float: right;
  left: auto;
}

.cardBorder {
  border-width: 3px;
  border-radius: 10px;
}

.alert:not(.show) {
  display: none;
}

.dropdown-toggle.no-arrow:after {
  display: none;
}
